:root {
    /* Support light and dark, with light preferred if no user preference */
    color-scheme: light dark;
}

/* page preference is "system", and system preference is "dark" */
@media (prefers-color-scheme: dark) {
    :root:has(#color-scheme-switcher input[value="system"]:checked) {
        color-scheme: dark;
    }
}

/* page preference is "system", and system preference is "light" */
@media (prefers-color-scheme: light) {
    :root:has(#color-scheme-switcher input[value="system"]:checked) {
        color-scheme: light;
    }
}

/* page preference is "dark", overriding whatever the system preference is */
:root:has(#color-scheme-switcher input[value="dark"]:checked) {
    color-scheme: dark;
}

/* page preference is "light", overriding whatever the system preference is */
:root:has(#color-scheme-switcher input[value="light"]:checked) {
    color-scheme: light;
}
